html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  color: #fff;
  background: rgba(0, 0, 0, .5);
  font-size: 4rem;
  font-weight: bold;
}

p {
  font-size: 2rem;
  font-style: italic;
}

.img-flex {
  width: 100%;
  display: block;
}

.banner {
  position: relative;
  max-height: 500px;
}

.banner-content {
  max-width: 50em;
  position: absolute;
  bottom: 0;
}
